body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: hidden;
  background-color: #f0f2f5;
}

form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#canvas {
  width: 100vw;
  height: 75vh;
}
